<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>From A to Z</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="grid-container" >
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">From A to Z</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Signin</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3>Shopping Categories</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">X</button>
      <ul>
        <li>
          <a href="index.html">Sneakers</a>
        </li>
        <li>
          <a href="index.html">Basketball Shoes</a>
        </li>
      </ul>
    </aside>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="../images/red_sneakers.jpg" alt="product" />
              <div class="product-name"></div>
                <a href="product.html">Red Sneakers</a>
              <div class="product-brand">Vans</div>
              <div class="product-price">$40</div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="../images/red_sneakers.jpg" alt="product" />
              <div class="product-name"></div>
                <a href="product.html">Red Sneakers</a>
              <div class="product-brand">Vans</div>
              <div class="product-price">$40</div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="../images/red_sneakers.jpg" alt="product" />
              <div class="product-name"></div>
                <a href="product.html">Red Sneakers</a>
              <div class="product-brand">Vans</div>
              <div class="product-price">$40</div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="../images/red_sneakers.jpg" alt="product" />
              <div class="product-name"></div>
                <a href="product.html">Red Sneakers</a>
              <div class="product-brand">Vans</div>
              <div class="product-price">$40</div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
            <li>
              <div class="product">
                <img class="product-image" src="../images/red_sneakers.jpg" alt="product" />
                <div class="product-name"></div>
                  <a href="product.html">Red Sneakers</a>
                <div class="product-brand">Vans</div>
                <div class="product-price">$40</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
          </li>
            <li>
              <div class="product">
                <img class="product-image" src="../images/red_sneakers.jpg" alt="product" />
                <div class="product-name"></div>
                  <a href="product.html">Red Sneakers</a>
                <div class="product-brand">Vans</div>
                <div class="product-price">$40</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
          <li>
            <div class="product">
              <img class="product-image" src="../images/red_sneakers.jpg" alt="product" />
              <div class="product-name"></div>
                <a href="product.html">Red Sneakers</a>
              <div class="product-brand">Vans</div>
              <div class="product-price">$40</div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="../images/red_sneakers.jpg" alt="product" />
              <div class="product-name"></div>
                <a href="product.html">Red Sneakers</a>
              <div class="product-brand">Vans</div>
              <div class="product-price">$40</div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      All rights reserved.
    </footer>
  </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.addClass("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.removeclass("remove");
    }
  </script>
</body>
</html>