<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>From A to Z</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="grid-container" >
    <header class="header">
      From A to Z
    </header>
    <main class="main">
      <ul>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
        <li>Product 5</li>
      </ul>
    </main>
    <footer class="footer">
      All rights reserved.
    </footer>
  </div>
</body>
</html>